$gray : #d3d3d3;
$green : #75B975;
$bordercolor : #333;

form{
  margin: 0 0.5% 0 0.5% ;
}
.jumbotron{
  background-color: $bordercolor;
  color: $gray;
  text-align: center;
  border-bottom: 5px solid $gray;
}
.header{
  text-align: center;
}

.btn {
  text-align: center;
  margin:auto;
  display: block;
}

.photo {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}
.mygroup{
  text-align: center;
}
.myhidden{
  display: none;
}

.container {
  border-radius: 2em;
  background: $gray;

  padding: 40px 80px;
}
