form{
  margin: 0 0.5% 0 0.5% ;
}
.jumbotron{
  text-align: center;
}

.btn {
  margin:auto;
  display: block;
}

.photo {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}
.btn-group{
  text-align: center;
  display: block;
  margin: auto;
}
.myhidden{
  display: none;
}

$gray : #d3d3d3;
$green : #75B975;
$bordercolor : #333;

.container {
  border-radius: 2em;
  background: $gray;
  border: 3px solid $bordercolor;
  padding: 40px 80px;
}
